<ion-header>
  <ion-toolbar>
    <!--<ion-title>{{ isEditMode ? 'Editar' : 'Nuevo' }} {{ item.tipo }}</ion-title>-->
    <ion-title>{{ isEditMode ? 'Editar' : 'Nuevo' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="item.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="item.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>

    <ion-item *ngIf="uploading">
      <ion-spinner name="dots"></ion-spinner>
      Subiendo imagen...
    </ion-item>

    <ion-item *ngIf="item.imagenUrl">
      <img [src]="item.imagenUrl" style="max-width: 100%; margin-top: 10px;" />
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveItem()">Guardar</ion-button>
</ion-content>


<!--
<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Editar' : 'Nuevo' }} {{ item.tipo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="item.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="item.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen URL</ion-label>
      <ion-input [(ngModel)]="item.imagenUrl"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveItem()">Guardar</ion-button>
</ion-content>
-->
