<ion-app>

  <!-- Menú lateral -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item
            *ngIf="!user && currentRoute !== '/login'"
            routerLink="/login"
          >
            Login
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item
            *ngIf="!user && currentRoute !== '/register'"
            routerLink="/register"
          >
            Register
          </ion-item>
        </ion-menu-toggle>

        <ng-container *ngIf="user">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="currentRoute !== '/home'"
              routerLink="/home"
            >
              Home
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="currentRoute.includes('/item-list/animal')"
              routerLink="/item-form/animal"
            >
              Nuevo Animal
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="currentRoute.includes('/item-list/planta')"
              routerLink="/item-form/planta"
            >
              Nueva Planta
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="!currentRoute.includes('/item-list/animal')"
              routerLink="/item-list/animal"
            >
              Animales
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="!currentRoute.includes('/item-list/planta')"
              routerLink="/item-list/planta"
            >
              Plantas
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="currentRoute !== '/favorites'"
              routerLink="/favorites"
            >
              Favoritos
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()">
              Logout
            </ion-item>
          </ion-menu-toggle>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>


  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">

        <!-- Botón hamburguesa -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title>Flora & Fauna</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>


