<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item$ | async as item">
  <ion-card>
    <img [src]="item.imagenUrl" style="max-width: 100%;" />

    <ion-card-header>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ item.tipo | titlecase }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p style="margin-bottom: 12px;">{{ item.descripcion }}</p>
      <ion-badge color="success">{{ item.vecesElegido }} votos</ion-badge>
    </ion-card-content>

    <!-- Switch de "Favorito" a su izquierda -->
    <ion-item *ngIf="user" lines="none" class="justify-end">
      <ion-label slot="end" style="margin-right: 6px">Favorito</ion-label>
      <ion-toggle
        slot="end"
        [checked]="isFavorito"
        (ionChange)="toggleFavorito(item)"
        color="danger"
      ></ion-toggle>
    </ion-item>
  </ion-card>


</ion-content>


<!--
<ion-content *ngIf="item$ | async as item">
  <ion-card>
    <img [src]="item.imagenUrl" style="max-width: 100%;" />

    <ion-card-header>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ item.tipo | titlecase }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p style="margin-bottom: 12px;">{{ item.descripcion }}</p>
      <ion-badge color="success">{{ item.vecesElegido }} votos</ion-badge>
    </ion-card-content>
  </ion-card>


  <ion-button expand="block" color="danger" *ngIf="user" (click)="toggleFavorito(item)">
    {{ isFavorito ? 'Quitar de favoritos' : 'Añadir a favoritos' }}
  </ion-button>

</ion-content>
-->
